# MongoDB

It is a noSQL, docment database. but what is that mean

database holds values even we stop our program so you can save your data between diffrent runs. it also known as persistance.   
think it like saving text files but better   

SQL (Structured Query Language)  is a common standart language for managining databases.  

Mongo uses its own language to store data with json like documents.  

What is JSON   

javascript object notation is a best method to transfer object data especially in web. also you can store your python objects as json whch is called serialization.

go to  https://www.mongodb.com/pricing 

as you can see there is a free tier with limited capacity. It is not suitable for commercial use but it is enough for us to learn it. 

MongoDB is common with web stacks like MEAN and MERN. 


create your cluster 


iUjfHoCY8IKu3eh1


and add your ip to secure connection list 

after you can finish your setuup   

select overview panel and click connect   

 select driver > python > version >

to use with pytyhon we need some packages

pip install pymongo

önce pip ile yükle çalışmazsa  pip install httpcore==0.15.0 httpx pymongo googletrans  bunu kullan çalışırsa kullanma

In [ ]:
!pip3 install pymongo

pip install httpcore==0.15.0 httpx pymongo googletrans   (bendeki kupthane uyumsuzluğu yüzündenmiş)

In [ ]:
!pip install httpcore==0.15.0 httpx pymongo googletrans

In [5]:
import pymongo

In [6]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
uri = "mongodb+srv://onuralparslan:iUjfHoCY8IKu3eh1@firstcluster.8jluls7.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

In [7]:
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

now you are conneceted 

we need to learn what is cluster collection and databasse in mongodb 

then we can start adding data 


cluster -> group of servers that work for your data  cluster is a instance of moongo db running in machines  

database in mongodb -> contains collection of documents (json like ones )   

collection ->  is group of documents stored in same namespace 

if you have a data base name mydatabase and a collection inside it called mycollecion your namespace would be mydatabase.mycollection

In [18]:
print(client.list_database_names())

['mydatabase', 'mydatabase67', 'admin', 'local']

In [13]:
dblist = client.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else:
  print("no such database")

The database exists.

In [15]:
# bunlar local cihazda yapılan ayarlar
mydb = client["mydatabase67"]

mycol = mydb["customers"]

In [29]:
mydict = { "name": "John", "address": "Green Grass 1" }  
# since serialized objects are very similiar to disctonaries we can use them 

x = mycol.insert_one(mydict)
# x is used to capture result of insertion 
# bu inserti verince eğer data base mongoda yoksa oluşur varsa içine eklenir 
# text dosyasındaki yazdıra benzer write, ama eski dosyayı silmez ucuna ekler (append)

print(x.inserted_id)
# so youcan check

65cf9ebfcd7c17c20442c52f

In [20]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
# it is possible to insert large sum at once 

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('65cf9d19cd7c17c20442c51d'), ObjectId('65cf9d19cd7c17c20442c51e'), ObjectId('65cf9d19cd7c17c20442c51f'), ObjectId('65cf9d19cd7c17c20442c520'), ObjectId('65cf9d19cd7c17c20442c521'), ObjectId('65cf9d19cd7c17c20442c522'), ObjectId('65cf9d19cd7c17c20442c523'), ObjectId('65cf9d19cd7c17c20442c524'), ObjectId('65cf9d19cd7c17c20442c525'), ObjectId('65cf9d19cd7c17c20442c526'), ObjectId('65cf9d19cd7c17c20442c527'), ObjectId('65cf9d19cd7c17c20442c528')]

In [30]:
# find and print your objects 
for x in mycol.find():
  print(x)

{'_id': ObjectId('65cf9af0cd7c17c20442c51c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9d19cd7c17c20442c51d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65cf9d19cd7c17c20442c51e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65cf9d19cd7c17c20442c51f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65cf9d19cd7c17c20442c520'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65cf9d19cd7c17c20442c521'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65cf9d19cd7c17c20442c522'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65cf9d19cd7c17c20442c523'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65cf9d19cd7c17c20442c524'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65cf9d19cd7c17c20442c525'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65cf9d19cd7c17c20442c526'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65cf9d19cd7c17c20442c527'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65cf9d19cd7c17c20442c528'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65cf9e0acd7c17c20442c529'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e10cd7c17c20442c52a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e13cd7c17c20442c52b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e17cd7c17c20442c52c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e19cd7c17c20442c52d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e1bcd7c17c20442c52e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9ebfcd7c17c20442c52f'), 'name': 'John', 'address': 'Green Grass 1'}

In [31]:
# conduct a search in your data base 

myquery = { "address": "Green Grass 1" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65cf9d19cd7c17c20442c521'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65cf9ebfcd7c17c20442c52f'), 'name': 'John', 'address': 'Green Grass 1'}

In [34]:
# conduct a search in your data base 

myquery = { "name": "John" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65cf9af0cd7c17c20442c51c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e0acd7c17c20442c529'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e10cd7c17c20442c52a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e13cd7c17c20442c52b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e17cd7c17c20442c52c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e19cd7c17c20442c52d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e1bcd7c17c20442c52e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9ebfcd7c17c20442c52f'), 'name': 'John', 'address': 'Green Grass 1'}

In [35]:
# S ile başlayan adressler için regex 

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65cf9d19cd7c17c20442c522'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65cf9d19cd7c17c20442c528'), 'name': 'Viola', 'address': 'Sideway 1633'}

 what is regex ????


means regular expression and can be used for search in text 


x can be one letter or group of letters 

^x = starst with x 

x$ = ends with x 

x[abc]x = xax, xbx,xcx

x = contains x

In [45]:
# contains l 

myquery = { "name": { "$regex": "l" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65cf9d19cd7c17c20442c51f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65cf9d19cd7c17c20442c526'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65cf9d19cd7c17c20442c528'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [48]:
# contains l or L

myquery = { "address": { "$regex": "[lL]" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65cf9d19cd7c17c20442c51d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65cf9d19cd7c17c20442c51f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65cf9d19cd7c17c20442c520'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65cf9d19cd7c17c20442c524'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65cf9d19cd7c17c20442c525'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65cf9d19cd7c17c20442c526'), 'name': 'William', 'address': 'Central st 954'}

In [56]:
myquery = { "name": "John" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65cf9e0acd7c17c20442c529'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e10cd7c17c20442c52a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e13cd7c17c20442c52b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e17cd7c17c20442c52c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e19cd7c17c20442c52d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9e1bcd7c17c20442c52e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65cf9ebfcd7c17c20442c52f'), 'name': 'John', 'address': 'Green Grass 1'}

In [53]:
mycol.update_one(
    {"name": "John"},
    {"$set": {"address": "Pear st 543"}}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000f3'), 'opTime': {'ts': Timestamp(1708106009, 5), 't': 243}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1708106009, 5), 'signature': {'hash': b'\xc6\x93\xba\xe7\xd04?\x967JOf\x1e\xb5\xe1\xdaD\xb7X\xa9', 'keyId': 7299468821323055105}}, 'operationTime': Timestamp(1708106009, 5), 'updatedExisting': True}, acknowledged=True)

In [55]:
mycol.delete_one({"name":"John"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000f3'), 'opTime': {'ts': Timestamp(1708106053, 28), 't': 243}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1708106053, 28), 'signature': {'hash': b'\xd9%\xed\xe8\x83\x8d\x7f\t\xadn\xebV\xe0k\xb9_cd\x8cH', 'keyId': 7299468821323055105}}, 'operationTime': Timestamp(1708106053, 28)}, acknowledged=True)

In [ ]:
mydict = { "name": "Amy", "address": "Apple St 512" }  
# since serialized objects are very similiar to disctonaries we can use them 

x = mycol.insert_one(mydict)
# x is used to capture result of insertion 

print(x.inserted_id)
# so youcan check